// vars
$grey-accent: #e0e0e0;
$blue-accent: #3495c2;
$pink-accent: #ff00aa;
$purple-accent: #9a34c2;
$orange-code: #ffcc00;
$green-accent: #374b4f;
$system-orange: #e34400;
$system-hover: tomato;

// Markdown styles
.preview {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	padding: 15px;
	background-color: $grey-accent;
	font-weight: 400;
	line-height: 1.2;
	@media (min-width: 1000px) {
		width: 50vw;
	}
	a {
		text-decoration: none;
		color: $system-orange;
		transition: all 0.5s ease-in-out;
		&:hover {
			color: $system-hover;
		}
	}

	blockquote {
		border-left: 3px solid $system-orange;
		background-color: #eee;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		> p {
			padding-left: 8px;
		}
	}

	code {
		background-color: #2a3152;
		color: $pink-accent;
		font-size: 12px;
		font-weight: bold;
	}

	pre {
		display: block;
		overflow: auto;
		background-color: #2a3152;
		padding: 8px;
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	h1 {
		border-bottom: 4px solid $system-hover;
	}
	h2 {
		border-bottom: 2px solid $system-hover;
	}

	img {
		display: block;
		max-width: 90%;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	p {
		> code {
			border-radius: 5px;
			color: #66d9ef;
			padding: 8px;
		}
	}
}
.preview_hidden {
	@extend .preview;
	display: none;
	@media (min-width: 1000px) {
		display: flex;
	}
}
