.overlay {
	display: flex;
	flex-direction: column;
	width: 0%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background: #ccc;
	opacity: 0.99;
	overflow-y: auto;
	visibility: hidden;
	transition: opacity 0.35s, width 0.2s ease, visibility 0.2s;
}
.overlay_active {
	@extend .overlay;
	width: 100%;
	visibility: visible;
	@media (min-width: 450px) {
		width: 55%;
	}
	@media (min-width: 600px) {
		width: 45%;
	}
}
